# 【核心修复】强制 WebGL 运行文件不使用 LFS，而是作为普通二进制文件
*.wasm binary -text -filter=lfs -diff=lfs -merge=lfs
*.data binary -text -filter=lfs -diff=lfs -merge=lfs
*.framework.js binary -text -filter=lfs -diff=lfs -merge=lfs
build.loader.js binary -text -filter=lfs -diff=lfs -merge=lfs

# 其他文件保持默认
*.js text
*.html text
*.css text
*.json text
*.png binary
*.jpg binary